body {
    font-size: 14px;
    color: #333333;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 200;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 50px;
}

.titleMessage .heading .sub {
    font-size: 23px;
}

.slides-navigation .prev, 
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../images/next.png);
    background-color: #fff;
    border-radius: 50%;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../images/back.png);
    background-color: #fff;
    border-radius: 50%;
}

.section {
    padding: 100px 0;
}

.navbar {
    color: #fff;
    background-color: #e74c3c;
}

.skillsSection,
.contactSection {
    color: #fff;
    background-color: #e74c3c;
}

.aboutImage {
    max-width: 100%;
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #000000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent::after {
    content: '%';
}

.squareItem {
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444444;
    border-top: none;
}

.squareInnerContainer::before,
.squareInnerContainer::after {
    content: "";
    position: absolute;
    top: 0;
    width: 30%;
    border-bottom: 2px solid #444444;
}

.squareInnerContainer::before {
    right: 0;
}

.squareInnerContainer::after {
    left: 0;
}

.squareContent h2 {
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #e74c3c;
}

.squareContent h3 {
    font-size: 13px;
    margin: 0;
    font-weight: 600;
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444444;
}

.contactButton {
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #ffffff;
    border-radius: 2px;
}

.contactButton:hover {
    text-decoration: none;
    color: #e74c3c;
    background-color: #fff;
}

.filter a {
    color: #bdc3c7;
    border: 1px solid #bdc3c7;
    padding: 10px 18px;
    display: block;
}

.filter li {
    display: inline-block;
    padding: 10px;
}

.filter .current {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}

.filter {
    text-align: center;
    width: 100%;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.itemsContainer {
    width: 100%;
}

.items li {
    display: inline-block;
    padding: 15px;
}

.items li img {
    width: 100%;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: #ffffff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #e74c3c;
    position: relative;
    display: inline-block;
}

.items .imageOverLay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear,
    1s;
    -o-transition: all 0.2s linear,
    1s;
    -ms-transition: all 0.2s linear,
    1s;
    transition: all 0.2s linear,
    1s;
}

.items .item:hover .imageOverLay {
    opacity: 1;
}